body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4f0e7a;
    color: white;
    text-align: center;
    padding: 20px;
}

header img {
    border-radius: 50%;
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

aside {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 20px;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
    header, main, aside, footer {
        padding: 10px;
    }
}


nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: hsl(296, 90%, 25%); /* muda o fundo ao passar o mouse */
}

nav a:focus {
    background-color: hsl(296, 90%, 25%); /* cor diferente para indicar o foco */
    outline: none;
}
